.putXorOHere{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    background-color: aquamarine;
}


.gameBoardContainer {

    display: grid;
    grid-template-columns: 100px 100px 100px;
   
}